body{
	padding-top: 70px;
	background-color: #353937;
}

/************************************
Navbar
************************************/
nav.navbar.navbar-default.navbar-fixed-top {
	border-color: #353937;
	box-shadow: none;
}
nav.navbar.navbar-default.navbar-fixed-top > div{
	background-color: #353937;
}
ul.nav.navbar-nav > li.active > *{
	color: #F2C416;
	background: #353937;
	box-shadow: none;
	
}
.navbar-nav>li>a{
	text-shadow: none;
	color: #98979B;
	font-family: raleway-SemiBold;
	font-size: 15px;
}

.navbar-default .nav > li > a:hover, .navbar-default .nav > li.active > a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background: #353937;
    color: #F2C416;
    border-bottom: 1px #F2C416 solid;
}
/************************************
Body
************************************/
.body-title{
	font-family: bigJohn
}

.yellow{
	color: #F2C416;
}
	/****
	Calendario
	****/
	table#calendar{
		
	}
	#calendar > tbody > tr > td > .day{
		margin: 1px;
		width: 25px;
		height: 25px;
		background-color: #B8B6B6;
	}
	/****
	Main Slider
	****/
	.red{
		background-color: red;
	}
	.bx-wrapper{
		background: transparent;
		border: none;
		box-shadow: none;
	}


/************************************
Footer
************************************/
#footer{
	background-color: #70706F;
	padding-bottom: 30px;
}

#footer > div > h1,h2,h3,h4	{
	color: #F2C416;
	font-family: fjallaOne-Regular;
	text-transform: uppercase;
}
#footer > div > p, ul, li{
	color: white;
	font-family: roboto-Regular;
}
#footer > div > ul > li > a{
	color: white;
	text-decoration: none;
}
#footer > div > p{
	margin-top: 20px;
}

.red-social{
	color: white;
	font-size: 50px;
}
.red-social:hover{
	color: #98979B;
}

/************************************
Fonts
************************************/
@font-face {
    font-family: bigJohn;
    src: url('../fonts/big_john.otf') format("opentype");
}

@font-face {
    font-family: fjallaOne-Regular;
    src: url('../fonts/FjallaOne-Regular.otf') format("opentype");
}
@font-face {
    font-family: myriadPro-Regular;
    src: url('../fonts/MyriadPro-Regular.otf') format("opentype");
}
@font-face {
    font-family: raleway-Regular;
    src: url('../fonts/Raleway-Regular.ttf') format("truetype");
}
@font-face {
    font-family: raleway-SemiBold;
    src: url('../fonts/Raleway-SemiBold.ttf') format("truetype");
}
@font-face {
    font-family: roboto-Regular;
    src: url('../fonts/Roboto-Regular.ttf') format("truetype");
}
